@{
    ViewBag.Title = "Home Page";
}
@section header {
    <!--Tree CSS-->
    <link rel="stylesheet" type="text/css" href="/Static/assets/fuelux/css/tree-style.css" />
}
<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="chat-room">
        <aside class="left-side">
            <div class="user-head">
                <i class="fa fa-folder-open"></i>
                <h3>片庫</h3>
            </div>
            <ul class="chat-list">
                <li class="active">
                    <div class="panel-body">
                        <input type="text" placeholder="搜尋" class="form-control">
                    </div>
                </li>
            </ul>
            <div class="panel-body">
                <div id="FlatTree" class="tree">
                    <div class="tree-folder" style="display:none;">
                        <div class="tree-folder-header">
                            <i class="fa fa-folder"></i>
                            <div class="tree-folder-name"></div>
                        </div>
                        <div class="tree-folder-content"></div>
                        <div class="tree-loader" style="display:none"></div>
                    </div>
                    <div class="tree-item" style="display:none;">
                        <i class="tree-dot"></i>
                        <div class="tree-item-name"></div>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="mid-side">
            <div class="chat-room-head">
                <h3>影片檔</h3>
            </div>

            <div class="panel-body">
                <div class="row product-list">
                    <!--這樣子是一個影片-->
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="@Url.Action("Detail")">
                                    <img src="/Static/img/gallery/4.jpg" alt="" />
                                </a>
                                <a href="@Url.Action("Detail")" class="adtocart">
                                    <i class="fa fa-film"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="@Url.Action("Detail")" class="pro-title">
                                        舌尖上的中國01自然的饋贈.mp4
                                    </a>
                                </h4>
                                <p class="price">585 MB / 00:44:46<span class="pull-right text-muted"><a href="#"><i class="fa fa-cloud-download"></i>下載</a></span></p>
                            </div>
                        </section>
                    </div>

                    <!--剩下的都是多餘的-->
                    <div class="col-md-3">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="@Url.Action("Detail")">
                                    <img src="/Static/img/gallery/1.jpg" alt="" />
                                </a>

                                <a href="@Url.Action("Detail")" class="adtocart">
                                    <i class="fa fa-film"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="@Url.Action("Detail")" class="pro-title">
                                        舌尖上的中國02自然的饋贈.mp4
                                    </a>
                                </h4>
                                <p class="price">585 MB / 00:44:46<span class="pull-right text-muted"><a href="#"><i class="fa fa-cloud-download"></i>下載</a></span></p>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="@Url.Action("Detail")">
                                    <img src="/Static/img/gallery/3.jpg" alt="" />
                                </a>
                                <a href="@Url.Action("Detail")" class="adtocart">
                                    <i class="fa fa-film"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="@Url.Action("Detail")" class="pro-title">
                                        舌尖上的中國03自然的饋贈.mp4
                                    </a>
                                </h4>
                                <p class="price">585 MB / 00:44:46<span class="pull-right text-muted"><a href="#"><i class="fa fa-cloud-download"></i>下載</a></span></p>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="@Url.Action("Detail")">
                                    <img src="/Static/img/gallery/4.jpg" alt="" />
                                </a>
                                <a href="@Url.Action("Detail")" class="adtocart">
                                    <i class="fa fa-film"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="@Url.Action("Detail")" class="pro-title">
                                        舌尖上的中國04自然的饋贈.mp4
                                    </a>
                                </h4>
                                <p class="price">585 MB / 00:44:46<span class="pull-right text-muted"><a href="#"><i class="fa fa-cloud-download"></i>下載</a></span></p>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="@Url.Action("Detail")">
                                    <img src="/Static/img/gallery/5.jpg" alt="" />
                                </a>
                                <a href="@Url.Action("Detail")" class="adtocart">
                                    <i class="fa fa-film"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="@Url.Action("Detail")" class="pro-title">
                                        舌尖上的中國05自然的饋贈.mp4
                                    </a>
                                </h4>
                                <p class="price">585 MB / 00:44:46<span class="pull-right text-muted"><a href="#"><i class="fa fa-cloud-download"></i>下載</a></span></p>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="@Url.Action("Detail")">
                                    <img src="/Static/img/gallery/4.jpg" alt="" />
                                </a>
                                <a href="@Url.Action("Detail")" class="adtocart">
                                    <i class="fa fa-film"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="@Url.Action("Detail")" class="pro-title">
                                        舌尖上的中國04自然的饋贈.mp4
                                    </a>
                                </h4>
                                <p class="price">585 MB / 00:44:46<span class="pull-right text-muted"><a href="#"><i class="fa fa-cloud-download"></i>下載</a></span></p>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="@Url.Action("Detail")">
                                    <img src="/Static/img/gallery/5.jpg" alt="" />
                                </a>
                                <a href="@Url.Action("Detail")" class="adtocart">
                                    <i class="fa fa-film"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="@Url.Action("Detail")" class="pro-title">
                                        舌尖上的中國05自然的饋贈.mp4
                                    </a>
                                </h4>
                                <p class="price">585 MB / 00:44:46<span class="pull-right text-muted"><a href="#"><i class="fa fa-cloud-download"></i>下載</a></span></p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <!-- page end-->
</section>
@section scripts
{
    <!-- Tree -->
    <script src="/Static/assets/fuelux/js/tree.min.js"></script>
    <script src="/Static/js/tree_folder.js"></script>
    <!--custom tagsinput-->
    <script src="/Static/js/jquery.tagsinput.js"></script>
    <!--script for this page-->
    <script src="/Static/js/form-component.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        TreeView.init();
    });
</script>
}
