@using System.IdentityModel.Claims
@using PointVideoGallery.Utils
@{
    var activeController = ViewContext.RouteData.Values["Controller"].ToString();
    var activeAction = ViewContext.RouteData.Values["Action"].ToString();
    var userName = Request.GetOwinContext().Authentication.User.Claims.First(s => s.Type == ClaimTypes.Name).Value;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="端點媒資管理系統">
    <meta name="author" content="端點科技">
    <meta name="keyword" content="MAM">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="/Static/dist/site.css">
    @RenderSection("header", required: false)
</head>
<body style="position: relative; padding-bottom: 41px; min-height: 100vh;">
<section id="container">
<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div id="sb-toggle" data-original-title="展開/隱藏" data-placement="right" class="glyphicon glyphicon-menu-hamburger tooltips"
             style="font-size: 20px;">
        </div>
    </div>
    <!--logo start-->
    <a href="#" class="logo">CNS DTV</a>
    <!--logo end-->
    <div class="top-nav">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="username">@userName</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li>
                        <a href="@Url.Action("Info", "User")">
                            <i class="glyphicon glyphicon-briefcase"></i> 帳號資訊
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Role", "Account")">
                            <i class="glyphicon glyphicon-cog"></i> 權限管理
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserLog", "User")">
                            <i class="glyphicon glyphicon-list-alt"></i> 操作紀錄
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Signout", "Account")">
                            <i class="glyphicon glyphicon-log-out"></i> 登出
                        </a>
                    </li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!--search & user info end-->
    </div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="sub-menu">
                <a href="#" class="@ActiveViewHelper.ActiveClass(activeController, "dashboard")">
                    <i class="glyphicon glyphicon-bullhorn"></i>
                    <span>行銷活動</span>
                </a>
                <ul class="sub">
                    <li class="@ActiveViewHelper.ActiveClass(activeAction, "publish")">
                        <a href="@Url.Action("Publish", "DashBoard")">廣告發佈</a>
                    </li>
                    <li class="@ActiveViewHelper.ActiveClass(activeAction, "resource")">
                        <a href="@Url.Action("Resource", "DashBoard")">資源維護</a>
                    </li>
                    <li class="@ActiveViewHelper.ActiveClass(activeAction, "location")">
                        <a href="@Url.Action("Location", "DashBoard")">廣告位置</a>
                    </li>
                    <li class="@ActiveViewHelper.ActiveClass(activeAction, "SoSetting")">
                        <a href="@Url.Action("SoSetting", "DashBoard")">SO管理</a>
                    </li>
                    <li class="@ActiveViewHelper.ActiveClass(activeAction, "events")">
                        <a href="@Url.Action("Events", "DashBoard")">廣告活動</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Account")" class="@ActiveViewHelper.ActiveClass(activeAction, "Index")">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>帳號管理</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Role", "Account")" class="@ActiveViewHelper.ActiveClass(activeAction, "role")">
                    <i class="glyphicon glyphicon-dashboard"></i>
                    <span>權限管理</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Log", "Account")" class="@ActiveViewHelper.ActiveClass(activeAction, "log")">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <span>操作紀錄</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="@ActiveViewHelper.ActiveClass(activeController, "user")">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>個人資訊</span>
                </a>
                <ul class="sub">
                    <li class="@ActiveViewHelper.ActiveClass(activeAction, "info")">
                        <a href="@Url.Action("Info", "User")">帳號資訊</a>
                    </li>
                    <li class="@ActiveViewHelper.ActiveClass(activeAction, "UserLog")">
                        <a href="@Url.Action("UserLog", "User")">操作紀錄</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        @RenderBody()
    </section>
</section>
<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    @DateTime.Today.Year &copy; 端點科技股份有限公司
    <a href="#" class="go-top">
        <i class="glyphicon glyphicon-menu-up"></i>
    </a>
</footer>
<!--footer end-->
</section>
<script src="/Static/dist/vendor.js"></script>
<script src="/Static/dist/site.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>